.card {
  width: 250px;
  display: inline-block;
  margin: 15px;
  background-color: #dae5e9;
  color: #30394a;
  padding: 8px;
}

.like-btn {
  margin-bottom: 10px;
  width: 80px;
  height:22px;
  background-color: #9aa6ba;
  border: none;
  outline: none;
  letter-spacing: .15em;
}

.like-btn:hover {
  background-color: #eae1bb;
  border: 1px solid  #9aa6ba;
}

.favored {
  border: 3px solid #999ca3;
}
