.fav-counter {
  background-color: red;
}

div {

  text-align: center;
  display: inline-block;
  margin: 8px;
  margin-top: 20px;
}

.select-btn {
  background-color: #9ca6ba;
  border: solid 2px #999ca3;
  border-radius: 10px;
  height: 30px;
  width: 90px;
  font-weight: bold;
  font-size: 14px;
}
