.fav-btn {
  position:absolute;
  top: 35px;
  right: 20px;
  width: 100px;
  height: 27px;
  text-align: left;
  font-size: 14px;
  font-weight: bold;
  background-color: #dae5e9;
  border: none;
  padding-left: 7px;
  outline: none;
}

.fav-btn:hover {
  background-color: #eae5d3;
}

.fav-counter {
  padding-left: 10px;
  color: #a81f1f;
}

div {
  text-align: center;
  display: inline-block;
  margin: 8px;
  margin-top: 20px;
}

.select-btn {
  background-color: #9ca6ba;
  border: solid 2px #9ca6ba;
  border-radius: 10px;
  height: 30px;
  width: 90px;
  font-weight: bold;
  font-size: 14px;
  outline: none;
  text-align: center;
}

.select-btn:hover {
  background-color: #75afab;
  border: solid 2px #75afab;
}

.select-btn:focus {
  background-color: #75afab;
  border: solid 2px #75afab;
}
